@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html>


<head>
    <title>My eCard</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />


</head>

<body>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                
                <img src="~/images/kitty10.jpg" alt="kitten" />
                <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>LA is always so much fun!</p>
                </div>
            </div>

            <div class="item">
          <img src="~/images/kitty6.jpg" alt="kitty 2" />
                <div class="carousel-caption">
                    <h3>Chicago</h3>
                    <p>Thank you, Chicago!</p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/kitty5.jpeg" alt="kitty3"/>
                <div class="carousel-caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


































    <a href="http://wowoco.org" target="_blank"> <img src="~/images/banner1.svg" alt="blue banner alternative text" title="click here" /></a>
    <h1><strong> Lorem </strong></h1>

    <h2>ipsum </h2>

    <h3><strong> dolor</strong> </h3>

    <a href="http://google.com" target="_blank ">sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a> <div></div>Ut enim ad minim veniam, quis nostrud exercitation ullamco <span>laboris</span> nisi ut aliquip ex ea commodo consequat.</div>


    <ol>

        <li>Duis</li>
        <li>aute</li>
        <li>irure</li>



    </ol>

    <ul>
        <li>dolor</li>

        <li>in</li>

        <li> reprehenderit</li>
    </ul>


    <a href=" "></a>
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>



</html>
