body {
    background: #FFF; /*white*/
    color: #000; /*Black*/
    font-family: Arial;
    font-size: 14px;
    /*background-image: url('../images/tile.jpg');*/
    /*background-size: contain;*/
    /*background: #0771e8a url('../images/tile.jpg'); no-repeat top center;*/
}

a {
    color: #000000;
    text-decoration: none;
}

    /*a:hover {
        color: #ffd800;
        font-size: 1.2em;
        width: 80%;
    }*/

    a:visited {
        color: #4cff00;
    }

    a:focus {
        color: #94268c;
    }
.container{
    padding-top: 3em;
}

/*puts space around the img grid*/
img {
    padding: 10px;
}

/*BOOTSTRAP OVERIDES***************************************************************/
.carousel-inner .item .images {
    width: 70%;
    margin: auto;
}


/*Removes gradient/shading behind the controls */
.carousel-control.left, .carousel-control.right {
    background-image: none;
    outline: 0;
    opacity: 1;
}




/*Added gradient/shading behind the indicators...white dots at bottom of the carousel */
/*.carousel-indicators {
    opacity: 0.5;
    background: #000000; /*black*/
/*}*/




