body {
    background: #000000;
    color: #fff;
    /*background-image: url('../images/tile.jpg');*/
    /*background-size: contain;*/
    font-family: Arial;
    font-size: 16px
    /*background: #0771e8a url('../images/tile.jpg'); no-repeat top center;*/
}

a {
    color: #000000;
    text-decoration: none;
}

    /*a:hover {
        color: #ffd800;
        font-size: 1.2em;
        width: 80%;
    }*/

    a:visited {
        color: #4cff00;
    }

    a:focus {
        color: #94268c;
    }



h1 {
    /*color: #fff;
    background: #000;*/
}

h2 {

}


p {
    /*color: #fff;*/ /*white*/
        /*#990012; dark shade of red*/
    /*background: #000000;*/ /*black*/
}

.images{
    background-image: 
}

.carousel-inner .item  .images {
    width: 70%;
    margin: auto;
}
.carousel-caption{
    opacity: 0.5;
    color: #fff;
    background: #000;
}
/*.carousel-indicators {
    opacity: 0.5;
    background: #000000; /*black*/
}*/
